{% extends '../index.html' %}
{% block title %} Lista Autorów {% endblock %}
{% block content %}
{% load static %}
<main>
	<br><br>
		<div class="container">
			<div class="row">
					<div class="col-12">
					<h5><b>Autorzy</b></h5>
					</div>
			</div>
			<hr>
		<div class="col-lg-12 bg-white ml-5 text-center text-body wpis">
			<div>
				<div class="row">
					 {% for author in authors.all %}
						<div class="col-4" style="margin-bottom: 15px;"><a href="/authors/{{ author.slug }}"><button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#FF6633; border-color:#FF6633;">{{ author }}</button> </a></div>
					 {% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}