{% extends '../index.html' %}
{% block title %} Do przeczytania {% endblock %}
{% block content %}
{% load static %}
<main>
	<br></br>
		<div class="container">
			<div class="row">
				<div class="col-12">
				<h5><b>Chcę przeczytać</b> ({{ user.profile.booksToRead.all.count }})</h5>
				</div>
			</div>
		</div>
		<br></br>
		<div class="container">
		  <div class="row">
			<div class="col-12 wpis">
				<table class="table text-center table-image">
				  <thead>
					<tr>
					  <th scope="col">Okładka</th>
					  <th scope="col">Tytuł
							<a style="display:block; margin-bottom: -10px" class="fas fa-sort-up sort-icon" href="{% url 'notreadTitleAsc' %}"></a>
							<a style="display:block;" class="fas fa-sort-down sort-icon" href="{% url 'notreadTitleDesc' %}"></a>
					  </th>
					  <th scope="col">Autor
						  <a style="display:block; margin-bottom: -10px" class="fas fa-sort-up sort-icon" href="{% url 'notreadAuthorAsc' %}"></a>
						  <a style="display:block;" class="fas fa-sort-down sort-icon" href="{% url 'notreadAuthorDesc' %}"></a>
					  </th>
					  <th scope="col">Przeczytane
						  <a style="display:block; margin-bottom: -10px" class="fas fa-sort-up sort-icon" href="{% url 'notreadReadAsc' %}"></a>
						  <a style="display:block;" class="fas fa-sort-down sort-icon" href="{% url 'notreadReadDesc' %}"></a>
					  </th>
					  <th style="display:inline-block;" scope="col"> Ocena
						  <a style="display:block; margin-bottom: -10px" class="fas fa-sort-up sort-icon" href="{% url 'notreadRateAsc' %}"></a>
						  <a style="display:block;" class="fas fa-sort-down sort-icon" href="{% url 'notreadRateDesc' %}"></a>
					  </th>
					</tr>
				  </thead>
				  <tbody>
			 	 {% for book in user.profile.booksToRead.all %}
					 <tr>
					  <td class="w-25">
						  <a href="/books/{{ book.slug }}"><img  src="{{ book.cover.url }}" class="img-fluid img-thumbnail" alt="{{book.title}}" width="60%" ></a>
					  </td>
					  <td><h7><b>{{book.title}}</b></h7>
					  <td>
						 {% for author in book.authors.all %}
						 <h7>{{ author }}</h7>
						 {% endfor %}
					 </td>
					  <td><h7>{{ book.read }}</h7></td>
					  <td><h7-gold><b>{{ book.averageRate }}</b></h7-gold></td>
					</tr>
          		{% endfor %}
			  </tbody>
				</table>
			</div>
		  </div>
		</div>
</main>
{% endblock %}